# NAME                - ADITYA JAIN

# INSTITUTE BATCH NO. - DSG0423

# PROJECT BATCH NO.   - DS2310

# ASSIGNMENT          - REGULAR EXPRESSION

**Question 1-** Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample Text- 'Python Exercises, PHP exercises.'

Expected Output: Python:Exercises::PHP:exercises:

In [1]:
import re # import the regular expression library (re)

sample_text = "Python Exercises, PHP exercises." #Define the Text

pattern = r"[ ,.]" #Define a re pattern

x = re.sub(pattern,":",sample_text)
print(x) #result

Python:Exercises::PHP:exercises:

**Question 2-**  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

Expected output-

0      hello world

1             test

2    four five six

In [2]:
import pandas as pd
import re
Dictionary = {'SUMMARY':['hello,world!','XXXXX test','123four, five:; six...']}
df = pd.DataFrame(Dictionary)
df['SUMMARY']= df['SUMMARY'].str.replace(r'[^\w\s]','', regex=True)
print(df)

            SUMMARY
0        helloworld
1        XXXXX test
2  123four five six

**Question 3-** Create a function in python to find all words that are at least 4 characters long in a string. The use of the
re.compile() method is mandatory.

In [3]:
import re # import the regular expression library
target_string = "Rohit Sharma is the best player of Indian Cricket Team as well as he played a crucial role in a world cup matches for India."

pattern = re.compile(r'\b\w{4,}\b') # define a pattern for find all the words that are atleast 4 characters long.

for result in pattern.findall(target_string):
    print(result) # print Output

Rohit
Sharma
best
player
Indian
Cricket
Team
well
played
crucial
role
world
matches
India

**Question-4** Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [4]:
import re # import necessary library
target_string = "Data Science is the study of data to extract meaningful insights for business. it is a multidiscliplinary apporach combines principal of maths, and so on...."

pattern = re.compile(r'\b\w{3,5}\b') #this pattern to match all words with 3,4,5 characters.

for result in pattern.findall(target_string): #iterate through the words in the target string that match the defined pattern.
    print(result)

Data
the
study
data
for
maths
and

**Question 5**-- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [5]:
target_string = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

pattern = re.compile(r'\s*\(([^)]*)\)') # this pattern are used to match text inside the parentheses.
for data in target_string: 
    result = re.sub(pattern,r'\1',data) # use re.sub() to substitute the matched pattern with the text inside the parentheses.
    print(result)

example.com
hr@fliprobo.com
github.com
HelloData Science World
DataScientist

**Question 6-** Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]

In [6]:
import re # import necessary library
target_string = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

pattern = re.compile(r'\([^)]*\)') # pattern to match and remove text inside the parentheses
for data in target_string:
    
    result = re.sub(pattern,'',data) # use re.sub() to substitute the match pattern text inside the parentheses with an empty string
    print(result)

example
hr@fliprobo
github
Hello
Data

**Question 7-** Write a regular expression in Python to split a string into uppercase letters.

Sample text: "ImportanceOfRegularExpressionsInPython"

Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [7]:
import re # import necessary library
target_string = "ImportanceOfRegularExpressionInPython"
pattern = r'[A-Z][a-z]*' # pattern to match camelcase words

result = re.findall(pattern,target_string) # re.findall() to find all occurrences of the pattern in the target string
print(result)

['Importance', 'Of', 'Regular', 'Expression', 'In', 'Python']

**Question 8-** Create a function in python to insert spaces between words starting with numbers.

Sample Text: "RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [8]:
import re # import necessary library
target_string = "RegularExpression1IsAn2ImportantTopic3InPython"
result = re.sub(r'(\d+)',r' \1',target_string) #use re.sub() to add a space before each numeric digit in the target_string.
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

**Question 9**-Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [9]:
import re
target_string = "RegularExpression1IsAn2ImportantTopic3InPython"
result = re.sub(r'(\d+)',r' \1 ',target_string) # use re.sub() to add a space before and a after each numeric digit in the target_string.
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

**Question 10**-read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [10]:
import pandas as pd
import re
data = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv") # read the data
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [11]:
data['first_five_letters']=data['Country'].str.extract(r'(^.{1,6})')

In [12]:
print(data[['Country','first_five_letters']].head())

       Country first_five_letters
0  Switzerland             Switze
1      Iceland             Icelan
2      Denmark             Denmar
3       Norway             Norway
4       Canada             Canada

In [13]:
print(data[['Country','first_five_letters']])

         Country first_five_letters
0    Switzerland             Switze
1        Iceland             Icelan
2        Denmark             Denmar
3         Norway             Norway
4         Canada             Canada
..           ...                ...
153       Rwanda             Rwanda
154        Benin              Benin
155        Syria              Syria
156      Burundi             Burund
157         Togo               Togo

[158 rows x 2 columns]

In [14]:
print(data[['Country','first_five_letters']].tail())

     Country first_five_letters
153   Rwanda             Rwanda
154    Benin              Benin
155    Syria              Syria
156  Burundi             Burund
157     Togo               Togo

**Question 11**-Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [15]:
import re # import necessary library
target_string = ["RohitSharma_45","score","45_Centuries","tymd$%","Hitman","8_worldcup_Centuries","rj@#"]
pattern= r'^[a-zA-Z0-9_]+$' # this pattern use to find a word that contains only upper lowercase numbers and underscore.
for text in target_string:
    result = re.match(pattern, text)
    print(result)

<re.Match object; span=(0, 14), match='RohitSharma_45'>
<re.Match object; span=(0, 5), match='score'>
<re.Match object; span=(0, 12), match='45_Centuries'>
None
<re.Match object; span=(0, 6), match='Hitman'>
<re.Match object; span=(0, 20), match='8_worldcup_Centuries'>
None

**Question 12**-- Write a Python program where a string will start with a specific number.

In [16]:
import re # import library
target_string = "456893RohitSharma" #define string
result = re.match(r'^\d+',target_string) # re.match() use for match some string according to pattern and in this pattern we will find a number.
print(result)

<re.Match object; span=(0, 6), match='456893'>

**Question 13**- Write a Python program to remove leading zeros from an IP address

In [17]:
import re # import necessary library
ip_address = "193.020.003.0007"
pattern = r'\b0+(\d+)\b' # pattern to match remove leading zeros from ip address
result = re.sub(pattern,r'\1',ip_address) # refer to captured digits
print(result)

193.20.3.7

**Question 14**- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
    
Expected Output- August 15th 1947

Note- Store given sample text in the text file and then extract the date string asked format.

In [18]:
import re # import necessary library 

target_string ='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'

pattern = r'\b\w+ \d{1,2}(?:st|nd|rd|th)? \d{4}\b' # pattern use for extract a date from a target_string

result = re.search(pattern, target_string)
print(result) #output

<re.Match object; span=(3, 19), match='August 15th 1947'>

**Question 15**-Write a Python program to search some literals strings in a string.

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [19]:
import re
target_string = 'The quick brown fox jumps over the lazy dog'
pattern = r'\b(?:fox|dog|horse)\b'
result = re.search(pattern,target_string)
print(result.group()) # if you will use re.search so only first word will be written on output

fox

**Question 16**-Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [20]:
import re
target_string='The quick brown fox jumps over the lazy dog.'
result = re.search(r'\bfox\b',target_string) # use re.search() to find the word 'fox' as a whole word in a target_string.
print(result.group())

fox

**Question 17**-Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'.

In [21]:
import re
target_string = "Python exercises, PHP exercises, C# exercises"
pattern = 'exercises' # define the pattern to search for in the target_string
result = re.findall(pattern,target_string) # use re.findall()  to find all the occurence of the pattern in the target_string.
print(result)

['exercises', 'exercises', 'exercises']

**Question 18**- Write a Python program to find the occurrence and position of the substrings within a string.

In [22]:
import re
target_string = "Rohit Sharma, Anushka Sharma, Kapil#@ Sharma"
pattern = 'Sharma'
for text in re.finditer(pattern,target_string):
    
    
    occurrence_start = text.start()
    occurrence_end = text.end()
    print(text)
    print(occurrence_start)
    print(occurrence_end)

<re.Match object; span=(6, 12), match='Sharma'>
6
12
<re.Match object; span=(22, 28), match='Sharma'>
22
28
<re.Match object; span=(38, 44), match='Sharma'>
38
44

**Question 19**-Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [23]:
import re
def change_format(date):
    return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1',date)
current_date = "2024-01-23"
print(" Current Date Format",current_date)
print("Converted Date Format",change_format(current_date))

 Current Date Format 2024-01-23
Converted Date Format 23-01-2024

**Question 20**-Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [24]:
target_string = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
def decimal(data):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b') # to match decimal numbers with one or two decimal places
    x = pattern.findall(data) # use re.findall()  to find all the occurence of the pattern in the target_string.
    return x
result = decimal(target_string)
print(result) # output

['01.12', '145.8', '3.01', '27.25', '0.25']

**Question 21**-- Write a Python program to separate and print the numbers and their position of a given string.

In [25]:
target_string = "Rohit Sharma is a indian cricketer and his jersey number is 45 and rohit hit a seven worldcup century"
for result in re.finditer("\d+",target_string): # use finditer() to find all occuerence of one or more digit in a target_string
    print(result.group(0))
    print('Index Number :',result.start()) # show index number

45
Index Number : 60

**Question 22** -Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Expected Output: 950

In [26]:
import re
target_string = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
pattern = r'\d+'
x= re.findall(pattern,target_string) #re pattern to match one or more digits
result = max(map(int,x)) # convent x into int and find max number
print('Maximum Number :', result) # output

Maximum Number : 950

**Question 23**-Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"
    
Expected Output: Regular Expression Is An Important Topic In Python

In [27]:
target_string = "RegularExpressionIsAnImportantTopicInPython"
result = re.sub(r'(\w)([A-Z])',r'\1 \2',target_string) # pattern use for insert spaces btw words starting with capital letters
print(result) #output

Regular Expression Is An Important Topic In Python

**Question 24**- Python regex to find sequences of one upper case letter followed by lower case letters

In [28]:
target_string = "Rohit Sharma is a Indian Cricketer and He Hit 45 Century In his Carrier."
pattern = r'[A-Z][a-z]+'
result = re.findall(pattern, target_string)
print(result)

['Rohit', 'Sharma', 'Indian', 'Cricketer', 'He', 'Hit', 'Century', 'In', 'Carrier']

**Question 25**- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [29]:
target_string = "Hello hello world world"
result = re.sub(r'\b(\w+)( \1\b)+',r'\1',target_string)
print(result)

Hello hello world

**Question 26**-Write a python program using RegEx to accept string ending with alphanumeric character.

In [30]:
target_string = "Rohit Sharam is a indian_cricker01 and his jerseyno45"
pattern = r'^.*[a-zA-Z0-9]$'
result = re.match(pattern,target_string)
print(result.group())

Rohit Sharam is a indian_cricker01 and his jerseyno45

**Question 27**-Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
    
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [31]:
target_string =  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern = r'#\w+'
result = re.findall(pattern, target_string)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

**Question 28**- Write a python program using RegEx to remove <U+..> like symbols

Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

In [32]:
target_string = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern = r'<U\+[A-Fa-f0-9]{4}>'

result = re.sub(pattern,'',target_string)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

**Question 29**-Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
    
Note- Store this sample text in the file and then extract dates.

In [33]:
target_string = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
pattern = r'\b\d{2}-\d{2}-\d{4}\b'
result = re.findall(pattern, target_string)
print(result)

['12-09-1992', '15-12-1999']

**Question 30** - Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
    
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [34]:
import re
target_string = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

pattern = re.compile(r'\b\w{2,4}\b')

x = re.sub(pattern,'',target_string)
result = re.sub(r'\s+',' ',x)

print(result)

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.