# NAME - ADITYA JAIN

# BATCH NO. DS2310

**Question 1**- Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
1 Rank
2 Name
3 Artist
4 Upload date
5 Views

In [1]:
# import nessesary library
import selenium
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

In [2]:
#open the wikipedia page on automated chrome browser
driver = webdriver.Chrome()

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos#Top_videos")

In [4]:
# empty enumerate for store details
name = []
artist = []
views = []
upload_date = []

In [5]:
# scraping name
nam = driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[1]')
for i in nam:
    name.append(i.text)

In [6]:
# scraping artists
artis = driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[2]')
for i in artis:
    artist.append(i.text)

In [7]:
view = driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[3]')
for i in view:
    views.append(i.text)

In [8]:
upd = driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div[1]/table[1]/tbody/tr/td[4]')
for i in upd:
    upload_date.append(i.text)

In [9]:
# print len
print(len(name),len(artist),len(views),len(upload_date))

30 30 30 30

In [10]:
# create dataframe
data=pd.DataFrame({})
data['Name']= name
data['Artists']= artist
data['Views']= views
data['Upload_date']= upload_date
data

,Name,Artists,Views,Upload_date
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.78,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.33,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.85,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.52,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.15,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.11,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.74,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.59,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.10,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.03,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,4.98,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.57,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.49,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.19,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,3.97,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.93,"May 31, 2013"
16,"""Roar""[41]",Katy Perry,3.92,"September 5, 2013"
17,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.86,"June 25, 2018"
18,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.80,"June 4, 2010"
19,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.78,"June 14, 2018"
20,"""Sorry""[45]",Justin Bieber,3.74,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.70,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.65,"January 26, 2018"
23,"""Dark Horse""[48]",Katy Perry,3.64,"February 20, 2014"
24,"""Perfect""[49]",Ed Sheeran,3.61,"November 9, 2017"
25,"""Shree Hanuman Chalisa""[50]",T-Series Bhakti Sagar,3.57,"May 10, 2011"
26,"""Let Her Go""[51]",Passenger,3.57,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.56,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.53,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.51,"March 22, 2015"

In [11]:
driver.close()

**Question 2**- Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [12]:
# import necessary libraries
import selenium
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

In [13]:
#open the bcci.tv page on automated chrome browser
driver = webdriver.Chrome()

In [14]:
driver.get("https://www.bcci.tv/")

In [15]:
fixture = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()

In [16]:
more = driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[2]/div[2]/div/button')
more.click()

In [17]:
# empty enumerate for store details
series = []
place = []
date = []
time= []

In [18]:
# scraping series name
ser = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in ser:
    series.append(i.text)
    
# scraping place
pla = driver.find_elements(By.XPATH,'')
for a in pla:
    place.append(a.text)
    
# scraping date
dates = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for b in dates:
    date.append(b.text)
    
# scraping time
times = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for c in times:
    time.append(c.text)

In [64]:
# create dataframe
data=pd.DataFrame({})
data['Series']= series
data['Place']= place
data['Date']= date
data['Time']= time
data

,Series,Place,Date,Time
0,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion","26 DECEMBER, 2023",1:30 PM IST
1,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","28 DECEMBER, 2023",2:00 PM IST
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","30 DECEMBER, 2023",2:00 PM IST
3,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","2 JANUARY, 2024",2:00 PM IST
4,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST
5,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","5 JANUARY, 2024",7:00 PM IST
6,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","7 JANUARY, 2024",7:00 PM IST
7,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","9 JANUARY, 2024",7:00 PM IST
8,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...","11 JANUARY, 2024",7:00 PM IST
9,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore","14 JANUARY, 2024",7:00 PM IST
10,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","17 JANUARY, 2024",7:00 PM IST
11,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad","25 JANUARY, 2024",9:30 AM IST
12,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,"2 FEBRUARY, 2024",9:30 AM IST
13,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot","15 FEBRUARY, 2024",9:30 AM IST
14,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
15,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST

In [65]:
driver.close()

**Question 3**- Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [68]:
# import necessary libraries
import selenium
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

In [76]:
#open the statisticstimes page on automated chrome browser
driver = webdriver.Chrome()

In [77]:
driver.get("http://statisticstimes.com/")

In [78]:
eco = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
eco.click()

In [79]:
india = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
india.click()

In [81]:
select = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
select.click()

In [82]:
# empty enumerate for store details
rank = []
state = []
gsdp_1 = []
gsdp_2= []
share = []
gdp = []

In [83]:
# scrap rank
rnk = driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rnk:
    rank.append(i.text)
        
# scraping state
states = driver.find_elements(By.XPATH,'//td[@class="name"]')
for a in states:
    if a.text is None:
        state.append("--")
    else:
        state.append(a.text)
        
# scrap current gsdp

current = driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[3]")
for b in current:
    if b.text is None:
        gsdp_1.append("--")
    else:
        gsdp_1.append(b.text)
        
# scrap previous gsdp

previous = driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[4]")
for c in previous:
    if c.text is None:
        gsdp_2.append("--")
    else:
        gsdp_2.append(c.text)
        
# scrap share
sh = driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[5]")
for d in sh:
    if d.text is None:
        share.append("--")
    else:
        share.append(d.text)
        

# scrap gdp in dollar
gd = driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
for e in gd:
    if e.text is None:
        gdp.append("--")
    else:
        gdp.append(e.text)

In [86]:
# create dataframe
data=pd.DataFrame({})
data['Rank']= rank[:33]
data['State']= state[:33]
data['Current_GSDP']= gsdp_1[:33]
data['Previous_GSDP']= gsdp_2[:33]
data['Share']= share[:33]
data['GDP In Dollar']=gdp[:33]
data

,Rank,State,Current_GSDP,Previous_GSDP,Share,GDP In Dollar
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
5,6,West Bengal,"1,554,992","1,363,926",5.81%,183.068
6,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
9,10,Telangana,"1,313,391","1,128,907",4.81%,151.523
10,11,Kerala,-,"932,470",3.97%,125.157
11,12,Delhi,"1,043,759","904,642",3.85%,121.422
12,13,Haryana,"994,154","870,665",3.71%,116.862
13,14,Odisha,"774,869","670,881",2.86%,90.047
14,15,Bihar,"751,396","650,302",2.77%,87.284
15,16,Punjab,"673,107","614,227",2.62%,82.442
16,17,Assam,"493,167","412,612",1.76%,55.381
17,18,Chhattisgarh,"457,608","406,416",1.73%,54.550
18,19,Jharkhand,"393,722","358,863",1.53%,48.167
19,20,Uttarakhand,"302,621","272,159",1.16%,36.530
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.659
22,23,Goa,-,"82,604",0.35%,11.087
23,24,Tripura,"72,636","62,550",0.27%,8.396
24,25,Chandigarh,-,"45,635",0.19%,6.125
25,26,Puducherry,-,"44,238",0.19%,5.938
26,27,Meghalaya,"42,697","38,785",0.17%,5.206
27,28,Sikkim,"42,756","37,557",0.16%,5.041
28,29,Manipur,-,"36,594",0.16%,4.912
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.714
30,31,Nagaland,-,"31,913",0.14%,4.283
31,32,Mizoram,-,"27,824",0.12%,3.735
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392

**Question 4**- Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [62]:
# import necessary libraries
import selenium
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

In [63]:
#open the github page on automated chrome browser
driver = webdriver.Chrome()

In [64]:
driver.get("https://github.com/")

In [65]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
explore.click()

In [66]:
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [67]:
# empty enumerate for store details
title = []
description = []
counts = []
language = []

In [68]:
# scrap repository title
tit = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]//a')
for i in tit:
    if i.text is None:
        title.append("--")
    else:
        title.append(i.text)

In [69]:
# scrap description
des = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for a in des:
    if a.text is None:
        description.append("--")
    else:
        description.append(a.text)

In [70]:
# scrap contributors
count = driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')
for b in count:
    if b.text is None:
        counts.append("--")
    else:
        counts.append(b.text)

In [71]:
Contributors_count=[]
for i in range(1,len(counts),2):
    Contributors_count.append(counts[i])

In [72]:
# scrap language
lang = driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for c in lang:
    language.append(c.text)

In [73]:
data=pd.DataFrame({})
data['Repository title']= title[:20]
data['Repository description']= description[:20]
data[' Contributors count ']=  Contributors_count [:20]
data['Language']= language[:20]
data

,Repository title,Repository description,Contributors count,Language
0,cumulo-autumn / StreamDiffusion,StreamDiffusion: A Pipeline-Level Solution for...,178,Python
1,apple / ml-ferret,完全免费开源，基于 Requests 模块实现：TikTok 主页/视频/图集/原声；抖音主...,104,Python
2,JoeanAmier / TikTokDownloader,Dev tool that writes scalable apps from scratc...,341,Python
3,Pythagora-io / gpt-pilot,Community designed ERCF v2,"1,437",Python
4,Enraged-Rabbit-Community / ERCF_v2,GUI-focused roop,16,Python
5,Hillobar / Rope,AppAgent: Multimodal Agents as Smartphone User...,179,Python
6,mnotgod96 / AppAgent,A dedicated scratchpad for developers,116,JavaScript
7,heyman / heynote,A unified evaluation framework for large langu...,44,Python
8,microsoft / promptbench,📜 A minimalist personal website embodying the ...,47,TypeScript
9,Innei / Shiro,A curated list of Large Language Model (LLM) I...,174,C++
10,JShollaj / awesome-llm-interpretability,"G-code generator for 3D printers (Bambu, Prusa...",30,TypeScript
11,SoftFever / OrcaSlicer,An Open-Source Assistants API and GPTs alterna...,381,Ruby
12,langgenius / dify,A curated list of engineering blogs,"1,693",Kotlin
13,kilimchoi / engineering-blogs,This repository contains everything you need t...,"1,193",C++
14,Coder-World04 / Complete-System-Design,The Z3 Theorem Prover,295,HTML
15,simondankelmann / Bluetooth-LE-Spam,Learn how to design systems at scale and prepa...,188,Python
16,Z3Prover / z3,"A sound cloning tool with a web interface, usi...","1,431",TypeScript
17,karanpratapsingh / system-design,A one-of-a-kind resume builder that keeps your...,"2,248",Python
18,elifgazioglu / doyouwannagooutwithme,🏡 Open source home automation that puts local ...,73,JavaScript
19,jianchang512 / clone-voice,"Versatile typeface for code, from code.",286,C

**Question 5**- Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [1]:
# import necessary libraries
import selenium
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

In [2]:
#open the billboard page on automated chrome browser
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.billboard.com/")

In [4]:
bar = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[1]/div[1]/button')
bar.click()

In [5]:
top_100 = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
top_100.click()

In [6]:
# empty enumerates for store details
song_name = []
artist = []
last_week_rank = []
peak_rank = []
week_on = []

In [7]:
# scrap song name 
song = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3')
for i in song:
    song_name.append(i.text)
    
# scrap artist
art = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//li[1]/span')
for a in art:
    artist.append(a.text)
    
# scrap last week rank
last = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
for b in last:
    last_week_rank.append(b.text)
    
# scrap peak rank
peak = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
for c in peak:
    peak_rank.append(c.text)
    
# scrap week on board
week = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
for d in week:
    week_on.append(d.text)

In [ ]:
#print len
print(len(song_name),len(artist),len(last_week_rank),len(peak_rank),len(week_on))

In [8]:
# create dataframe
data=pd.DataFrame({})
data['Song']= song_name
data['Artist']= artist
data['Last_week_rank']= last_week_rank
data['Peak_rank']= peak_rank
data['Week_on_board']= week_on
data

,Song,Artist,Last_week_rank,Peak_rank,Week_on_board
0,All I Want For Christmas Is You,Mariah Carey,2,1,2
1,Rockin' Around The Christmas Tree,Brenda Lee,1,1,1
2,Jingle Bell Rock,Bobby Helms,3,3,3
3,Last Christmas,Wham!,4,4,4
4,A Holly Jolly Christmas,Burl Ives,6,4,6
...,...,...,...,...,...
95,Save Me The Trouble,Dan + Shay,88,84,88
96,Hey Driver,Zach Bryan Featuring The War And Treaty,86,14,86
97,Virginia Beach,Drake,78,3,78
98,Standing Next To You,Jung Kook,72,5,72
99,Can't Have Mine,Dylan Scott,81,57,81

In [9]:
driver.close()

**Question 6**- Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [10]:
# import necessary libraries
import selenium
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

In [11]:
#open the guardian.com page on automated chrome browser
driver = webdriver.Chrome()

In [12]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [13]:
#empty enurate for store details
book_name = []
author = []
volume_sold = []
publisher = []
genre = []

In [14]:
#scrap book name
book = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[2]')
for i in book:
    book_name.append(i.text)
    
# scrap author name
aut = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[3]')
for a in aut:
    author.append(a.text)
    
# scrap volume sold
sold = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[4]')
for b in sold:
    volume_sold.append(b.text)
    
# scrap publisher
publish = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[5]')
for c in publish:
    publisher.append(c.text)
    
# scrap genre
gen = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[6]')
for d in gen:
    genre.append(d.text)

In [ ]:
# print len
print(len(book_name),len(author),len(volume_sold),len(publisher),len(genre))

In [15]:
# create dataframe
data=pd.DataFrame({})
data['Book_Name']= book_name
data['Authors']= author
data['Volume_Sold']= volume_sold
data['Publisher']= publisher
data['Genre']= genre
data

,Book_Name,Authors,Volume_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [16]:
driver.close()

**Question 7**- Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [46]:
# import necessary libraries
import selenium
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

In [47]:
#open the guardian.com page on automated chrome browser
driver = webdriver.Chrome()

In [48]:
driver.get("https://www.imdb.com/")

In [49]:
menu = driver.find_element(By.XPATH,'//*[@id="imdbHeader-navDrawerOpen"]')
menu.click()

In [50]:
explore = driver.find_element(By.XPATH,'//*[@id="imdbHeader"]/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/div/div/ul/a[3]/span')
explore.click()

In [51]:
# empty enumerates for store details
name = []
year = []
run_time = []
genre = []
ratings = []
votes = []

In [53]:
# scrap name
names = driver.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-43986a27-9 gaoUku dli-title"]')
for i in names:
    name.append(i.text)
    
# scrap year
years = driver.find_elements(By.XPATH,'//div[@class="sc-43986a27-7 dBkaPT dli-title-metadata"]//span[1]')
for a in years:
    year.append(a.text)
    
# scrap run time
episode = driver.find_elements(By.XPATH,'//div[@class="sc-43986a27-7 dBkaPT dli-title-metadata"]//span[2]')
for b in episode:
    run_time.append(b.text)
    
# scrap genre
gen = driver.find_elements(By.XPATH,'//div[@class="sc-43986a27-7 dBkaPT dli-title-metadata"]//span[3]')
for c in gen:
    genre.append(c.text)
    
# scrap ratings
rat = driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb sc-9ab53865-1 iXEijC ratingGroup--imdb-rating"]')
for d in rat:
    ratings.append(d.text)
    
# scrap votes
vote = driver.find_elements(By.XPATH,'//div[@class="sc-53c98e73-0 kRnqtn"]')
for e in vote:
    votes.append(e.text)

In [54]:
# create dataframe
data=pd.DataFrame({})
data['Name']= name[:90]
data['Years']= year[:90]
data['Run_time']= run_time[:90]
data['Ratings']= ratings[:90]
data['Genre']= genre[:90]
data['Votes']= votes[:90]
data

,Name,Years,Run_time,Ratings,Genre,Votes
0,Reacher,2022–,17 eps,8.1\n (167K),TV-MA,"Votes166,612"
1,Percy Jackson and the Olympians,2023–,8 eps,7.7\n (6.8K),TV-PG,"Votes6,804"
2,The Crown,2016–2023,60 eps,8.6\n (245K),TV-MA,"Votes245,094"
3,Fargo,2014–2024,51 eps,8.9\n (400K),TV-MA,"Votes400,292"
4,Doctor Who,2005–,196 eps,8.6\n (242K),TV-PG,"Votes241,734"
...,...,...,...,...,...,...
85,The Witcher,2019–,31 eps,8.2\n (124K),TV-MA,"Votes124,159"
86,The Morning Show,2019–,16 eps,8.3\n (12K),TV-MA,"Votes11,545"
87,Julia,2022–,6 eps,6.9\n (8.4K),TV-14,"Votes8,391"
88,A Nearly Normal Family,2023,217 eps,8.6\n (244K),TV-PG,"Votes243,874"
89,The X-Files,1993–2018,173 eps,8.9\n (344K),TV-MA,"Votes343,655"

In [55]:
driver.close()

**Question 8**- Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
    
Youhave to find the following details:
- Dataset name
- Data type
- Task
- Attribute type
- No of instances
- No of attribute 
- Year

In [15]:
# import necessary libraries
import selenium
from selenium.webdriver.common.by import By
import time
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

In [16]:
#open the archive.ics.uci.edu page on automated chrome browser
driver = webdriver.Chrome()

In [17]:
driver.get("https://archive.ics.uci.edu/")

In [18]:
view_all = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view_all.click()

In [19]:
expand_data = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand_data.click()

In [20]:
# empty enumerate for store a details
dataset_name = []
data_type = []
tasks = []
attribute_type = []
instance = []
num_attributes = []
year = []

In [21]:
# scrap dataset names
data = driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in data:
    dataset_name.append(i.text)
    
# scrap data types
types = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]')
for a in types:
    data_type.append(a.text)
    
# scrap tasks
task = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
for b in task:
    tasks.append(b.text)
    
    
# scrap attribute type    
attribute = driver.find_elements(By.XPATH,'//tbody[@class="border"]//td[2]')
for c in attribute:
    attribute_type.append(c.text)
    
# scrap instance
ins = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]')
for d in ins:
    instance.append(d.text)
    
# scrap number of attribute
noa = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]')
for e in noa:
    num_attributes.append(e.text)
    
# scrap years
years = driver.find_elements(By.XPATH,'//tbody[@class="border"]//td[3]')
for f in years:
    year.append(f.text)

In [22]:
print(len(dataset_name),len(data_type),len(tasks),len(attribute_type),len(instance),len(num_attributes),len(year))

10 10 10 10 10 10 10

In [23]:
# create dataframe
data=pd.DataFrame({})
data['Dataset Name']= dataset_name
data['Data Type']= data_type
data['Tasks']= tasks
data['Attribute Types']= attribute_type
data['Instance']= instance
data ['No.of attribute']= num_attributes
data ['Year']= year
data

,Dataset Name,Data Type,Tasks,Attribute Types,Instance,No.of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
3,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
5,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,6/1/1997

In [24]:
driver.close()